body{
	background-color:#98999b;
}
h1{
	color: red;
	font-size: 20
}
form{
	background-color:#ffffff;
}
input{
	background-color:#98999b;
}
textarea{
	background-color:#98999b;
}
select{
	background-color:#98999b;
}
#photo{
	color:green;
}
.input:focus{
	background-color:#f4efef;
}

